@import '../stylesheets/home.scss';
@import '../stylesheets/projects.scss';
@import '../stylesheets/variables.scss';
@import "~react-image-gallery/styles/scss/image-gallery.scss";


body {
  background-color: $baseColor;
  color: $accentWhite;
  min-width: 100%;
  background-image: url('/assets/dot-grid.png');
  background-repeat: repeat;

  a {
    color: $accentRed !important;
  }

  a, a:hover {
    text-decoration: none !important;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $headerType !important;
  }
}

.btn-secondary {
  border-color: $accentRed !important;
  color: $accentRed !important;
}

.btn-secondary:hover {
  background-color: $accentRed !important;
  color: $accentWhite !important;
}

.btn-primary {
  background-color: $secondaryColor !important;
  color: $accentWhite !important;
}

.btn-primary:hover {
  border-color: $accentWhite !important;
  background-color: $accentWhite !important;
  color: $secondaryColor !important;
}

.footer-link {
  padding: 10px;
}