@import '../stylesheets/home.scss';
@import '../stylesheets/projects.scss';
@import '../stylesheets/variables.scss';
@import "~react-image-gallery/styles/scss/image-gallery.scss";


body {
  background-color: $baseColor;
  color: $accentBlack;
  min-width: 100%;
  background-image: url('/assets/dot-grid.png');
  background-repeat: repeat;

  a {
    color: $accentRed !important;
  }

  a, a:hover {
    text-decoration: none !important;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $headerType !important;
  }
}

.btn-container {
  display: inline;
}

.btn-container .btn-primary, .btn-container .btn-secondary {
  transition: 0.25s ease-out;
}

.btn-secondary {
  border-color: $accentRed !important;
  color: $accentRed !important;
}

.btn-secondary:hover {
  background-color: $accentRed !important;
  color: $baseColor !important;
  box-shadow: #b3b3b3 0px 7px 29px 0px;
  transform: translateY(-7px);
  transition: 0.25s ease-in;
}

.btn-primary {
  background-color: $accentRed !important;
  color: $baseColor !important;
}

.btn-primary:hover {
  border-color: $baseColor !important;
  background-color: $baseColor !important;
  color: $accentRed !important;
  box-shadow: #b3b3b3 0px 7px 29px 0px;
  transform: translateY(-7px);
  transition: 0.25s ease-in;
}

.footer-link {
  padding: 10px;
}