@import './variables.scss';

.home {
  margin-top: 5rem;
  max-width: 100%;
}

.hero-section {
  min-height: 100vh;

  @media screen and (max-width: 600px) {
    min-height: auto;
  }
}

.background-text {
  z-index: -2;
  max-width: 100%;
  position: absolute;
  margin: 10px;
  left: -3vw;
  top: 10vh;
  font-size: 15rem;
  font-weight: 700;
  font-family: $headerType;
  word-wrap: break-word;
  opacity: 0.5;
  color: darken($color: $baseColor, $amount: 7);

  @media screen and (max-width: 1200px) {
    font-size: 10rem;
  }

  @media screen and (max-width: 600px) {
    font-size: 4.5rem;
    top: 15vh;
  }
}

.hero-container {
  @media screen and (max-width: 1200px) {
    flex-direction: column-reverse;
  }
}

.hero-header {
  font-family: $headerType;
  font-size: 7rem;
  font-weight: 700;
  margin-bottom: 25px;

  @media screen and (max-width: 600px) {
    font-size: 4rem;
    top: 15vh;
  }
}

.wave-emoji {
  animation-name: wave;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave {
  0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

.hero-body {
  font-family: $subHeaderType;
  font-size: 2rem;
  font-weight: 400;

  @media screen and (max-width: 600px) {
    font-size: 1.25rem;
    top: 15vh;
  }
}

.hero-image {
  max-height: 100%;
  width: 25vw;
  border-radius: 1rem;

  @media screen and (max-width: 1200px) {
    width: 100%;
  }
}

.arrow-container {
  position: absolute;
  left: 50%;
  top: 90%;

  @media screen and (max-width: 600px) {
    display: none;
  }
}

.arrow-text {
  font-weight: 200;
  font-family: $bodyType;
}

.arrow {
  color: $accentRed
}

.section {
  padding: 1em 10px;
  display: block;
}

.project-section-text {
  font-family: $subHeaderType !important;
  margin-bottom: 10px !important;
}

.homepage-project-image {
  max-width: 100%;
}