@import './variables.scss';

.project-grid-item {
  p, h2 {
    color: $accentWhite;
  }
}

.project-grid-item .project-card {
  transition: 0.25s ease-out;
  max-height: 430px;
  min-height: 475px;

  &:hover {
    transform: translateY(-10px);
    transition: 0.25s ease-in;
    box-shadow: #b3b3b3 0px 7px 29px 0px;
  }
}

.text-field {
  margin: 10px;
}

.image-gallery-slide-wrapper {
  min-height: 400px;
  background-color: #333;
}

.skill-chip {
  margin: 5px;
}