@import './variables.scss';

.project-grid-item {
  p, h2 {
    color: $accentWhite;
  }
}

.project-grid-item .project-card {
  transition: 0.25s ease-out;
  max-height: 430px;
  min-height: 430px;

  &:hover {
    transform: translateY(-10px);
    transition: 0.25s ease-in;
  }
}

.text-field {
  margin: 10px;
}

.image-gallery-slide-wrapper {
  min-height: 400px;
  background-color: #333;
}